$font-family: "GT Walsheim", Helvetica;
$bold-14-font-size: 14px;
$bold-14-font-weight: 700;
$bold-14-letter-spacing: 0px;
$bold-14-line-height: normal;
$regular-14-font-size: 14px;
$regular-14-font-weight: 400;
$regular-14-letter-spacing: 0px;
$regular-14-line-height: normal;

$font-size-base: 18px;
$bold-18-font-weight: 700;
$bold-18-letter-spacing: 0px;
$bold-18-line-height: normal;
$regular-18-font-size: 18px;
$regular-18-font-weight: 400;
$regular-18-letter-spacing: 0px;
$regular-18-line-height: 24px;

$bold-20-font-size: 20.15999984741211px;
$bold-20-font-weight: 700;
$bold-20-letter-spacing: 0px;
$bold-20-line-height: normal;
$regular-20-font-size: 20.15999984741211px;
$regular-20-font-weight: 400;
$regular-20-letter-spacing: 0px;
$regular-20-line-height: normal;

$bold-24-font-size: 24.191999435424805px;
$bold-24-font-weight: 700;
$bold-24-letter-spacing: 0px;
$bold-24-line-height: normal;
$regular-24-font-size: 24px;
$regular-24-font-weight: 400;
$regular-24-letter-spacing: 0px;
$regular-24-line-height: normal;

$bold-29-font-size: 29.030399322509766px;
$bold-29-font-weight: 700;
$bold-29-letter-spacing: 0px;
$bold-29-line-height: normal;
$regular-29-font-size: 29.030399322509766px;
$regular-29-font-weight: 400;
$regular-29-letter-spacing: 0px;
$regular-29-line-height: normal;

$bold-40-font-size: 40px;
$bold-40-font-weight: 700;
$bold-40-letter-spacing: 0.4px;
$bold-40-line-height: normal;

$bold-54-font-size: 54px;
$bold-54-font-weight: 700;
$bold-54-letter-spacing: 0px;
$bold-54-line-height: 68px;

$bold-64-font-size: 64px;
$bold-64-font-weight: 700;
$bold-64-letter-spacing: 0.64px;
$bold-64-line-height: 68px;

$accent: rgba(193, 104, 40, 1);
$background: rgba(244, 243, 255, 1);
$base: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$border: rgba(217, 217, 217, 1);
$card: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
$danger: rgba(198, 60, 60, 1);
$dark: rgba(51, 51, 51, 1);
$default: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
$light: rgba(247, 247, 247, 1);
$muted: rgba(85, 85, 85, 1);
$primary: rgba(26, 44, 58, 1);
$secondary: rgba(169, 169, 169, 1);
$border-radius: 32px;
$button-border-radius: 16px;
$inner-border-radius: 22px;
$service-icons: 40px;
$white: rgba(255, 255, 255, 1);