@font-face {
    font-family: "GT Walsheim";
    src: url("./fonts/GTWalsheimBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "GT Walsheim";
    src: url("./fonts/GTWalsheimPro-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "GT Walsheim";
    src: url("./fonts/GTWalsheimProRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;    

html {
    scroll-behavior: smooth;
}